AR_model.m
AR(1).m
auto_corrs.m
channel_equalization.m
Channel_Equalizer.m
Channel_Estimation.m
cross_corre.m
Gradient.m
Lab1.m
Lab2.m
LMS.m
LMS_code.m
MA_model.m
noise_cancellation.m
wiener.m
README.md
